* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --color-links: #0085FF;
}

a:link {
    color: whitesmoke;
}

a:visited {
    color: var(--color-links);
}

h1 {
    text-shadow: 0 4px 4px #0004;
    line-height: 1.5;
}

.cabecalho {
    height: 50vh;
    background: linear-gradient(to right bottom, #ff4f4f, #ff7d1b);
    /*background: linear-gradient(to right bottom, rgb(44, 190, 44), rgb(44, 44, 202));*/
    color: rgba(245, 245, 245, 0.815);
    display: grid;
    place-items: center;  
    text-align: center;  
    box-shadow: 0 4px 4px #0004;
    padding-bottom: 50px;    
}

.perfil {
    position: relative;
    top: -75px;
    text-align: center;
}

.perfil__foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid whitesmoke;
    transform:  rotate(23deg);    
}

.perfil p {
    color: #5F6871;
    margin: 32px auto;    
    max-width: 640px;
    font-style: italic;
    font-size: 25px;
}

.linha1 {
    width: 640px;
    margin: 40px auto;
}

.conteudo-central {
    width: 640px;
    margin: 0 auto;
}

.conteudo {
    position: relative;
    top: -70px;   
}

.conteudo p {
    color: #5F6871;
    max-width: 65ch;
    text-align: justify;
    margin: 0 auto;
    font-size: 18px;
}

.conteudo__imagem {
    box-shadow: 0 4px 4px #0004;    
    position: relative;
    top: -40px;   
    margin: 0 auto;
    text-align: center;
}

.imagemcodigo {
    height: 170px;
    width: 635px;
}

.conteudo__imagem h3, ol {
    text-align: start;
    padding: 10px;
    color: #5F6871;
    
}

.conteudo__imagem li {
    margin: 0 18px;
}


.contato {
    display: flex;
    justify-content: center;
    place-items: center;
    gap: 40px;
    height: 270px;
    background: linear-gradient(to right bottom, #ff4f4f, #ff7d1b);
    color: rgba(245, 245, 245, 0.815);
    font-size: 20px;
    margin-bottom: 70px;
    
}

button {
    font-weight: bold;
    font-size: 20px;
    width: 300px;
    height: 60px;
    color: rgba(245, 245, 245, 0.815);
    background: transparent;
    border: 2px solid rgba(245, 245, 245, 0.815);
    border-radius: 7px;
}

.perfil__lista {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    margin: 0 auto;    
    padding: 0;
    width: fit-content;
    list-style: none;    
    color: var(--color-links);
}

.rodape__lista {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    margin: 0 auto;    
    padding: 0;
    width: fit-content;
    list-style: none;    
    color: var(--color-links);
    justify-self: normal;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 30px;
    background-color: black;
    color: rgba(245, 245, 245, 0.815);
    display: grid;
    grid-template-columns: 1066px 0;
    align-items: center;
}

h6 {
    text-align: center;
}

